/* --- view-style --- */
.playerWrapper {
    width: 100%;
    height: 50px;
    position: relative;
    border-radius: 3px;
}

.playerControls {
    padding:2px;
    float:right;
}

.waveform,
.playerProgressWrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:none;
}

.playerProgressBar {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5;
    border-radius: 3px;
}
.
/* --- player-style --*/
.waveform, .trk-waveform {
    width: 100%;
    height: 50px;
}

.tracktable {
    width:100%;
    border:0;
}

.tracktable > td {
    border:0px;
}



div.track { position: relative; }
div.track img { z-index: 1; }
div.track div {
    text-align: center;
    overflow: hidden;
}
div.track div.bg {
    z-index: 2;
    background-color: rgba(0,0,0,0.9);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5;
}
div.track div.waveform-label {
    z-index: 3;
    width: 100%;
    background-color: rgba(255,255,255,0.9);
    border-radius: 2px;
    color: black;
}